@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #EEEEEE;
}

.capitalize {
  text-transform: capitalize;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.index-page {
  font-family: system-ui, sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.page-layout {
  display: flex;
  flex-wrap: wrap;
}
.page-layout .layout-main-content-container {
  width: 84%;
}

.overview-main-content {
  max-width: 928px;
  padding: 24px;
}
.overview-main-content .balance-cards-list {
  list-style-type: none;
  display: flex;
  margin-bottom: 90px;
}
.overview-main-content .balance-cards-list .balance-card {
  width: 280px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  margin-right: 2rem;
  padding: 20px 22px 18px 29px;
  border-radius: 7px;
}
.overview-main-content .balance-cards-list .balance-card .balance-card-container {
  display: flex;
  justify-content: space-between;
}
.overview-main-content .balance-cards-list .balance-card .balance-cards-details-link {
  color: #fff;
}
.overview-main-content .balance-cards-list .balance-card .balance-card-amount {
  font-size: 30px;
  font-weight: 500;
  margin-top: auto;
}
.overview-main-content .balance-cards-list .income {
  background: linear-gradient(90deg, #7DD3FC 0%, #BAE6FD 102.82%);
}
.overview-main-content .balance-cards-list .income [class~=income-title] {
  color: #1A74C7;
  font-size: 18px;
  font-weight: 600;
}
.overview-main-content .balance-cards-list .income [class~=income-link] {
  font-size: 12px;
  background: rgba(56, 189, 248, 0.75);
  padding: 2px 12px;
  border-radius: 12px;
  text-decoration: none;
}
.overview-main-content .balance-cards-list .balance {
  background: linear-gradient(90deg, #D4D4D8 0%, #E4E4E7 102.82%);
}
.overview-main-content .balance-cards-list .balance [class~=balance-title] {
  color: #71717A;
  font-size: 18px;
  font-weight: 600;
}
.overview-main-content .balance-cards-list .balance [class~=balance-link] {
  font-size: 12px;
  background: rgba(113, 113, 122, 0.75);
  padding: 2px 12px;
  border-radius: 12px;
  text-decoration: none;
}
.overview-main-content .balance-cards-list .expense {
  background: linear-gradient(90deg, #FDA4AF 0%, #FECDD3 102.82%);
}
.overview-main-content .balance-cards-list .expense [class~=expense-title] {
  color: #EF2A4C;
  font-size: 18px;
  font-weight: 600;
}
.overview-main-content .balance-cards-list .expense [class~=expense-link] {
  font-size: 12px;
  background: rgba(251, 113, 133, 0.75);
  padding: 2px 12px;
  border-radius: 12px;
  text-decoration: none;
}
.overview-main-content .recent-activity-title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 18px;
}
.overview-main-content .check-transaction-history-cta {
  color: #334155;
}
.overview-main-content .check-transaction-history-cta:hover {
  color: #000;
}

.sidebar-nav {
  display: inline-block;
  padding: 25px 10px 0 15px;
  width: 16%;
  height: 100vh;
  background: linear-gradient(180deg, #30475E 0%, #222831 100%);
}
.sidebar-nav .logo {
  width: 232px;
  height: 40px;
}
.sidebar-nav .nav-links-container {
  padding-left: 9px;
  list-style: none;
}
.sidebar-nav .nav-links-container .nav-link-item {
  margin: 30px 0;
}
.sidebar-nav .nav-links-container .nav-link {
  font-size: 22px;
  color: #D4D4D8;
  text-decoration: none;
  text-transform: capitalize;
}
.sidebar-nav .nav-links-container .nav-link-active {
  color: #fff;
}

.page-header {
  height: max-content;
  padding: 26px;
  background: #F7F4F3;
  box-shadow: 0px 1px 8px rgba(34, 40, 49, 0.05);
}
.page-header .page-header-title {
  font-size: 22px;
  color: #374151;
}

.recent-transactions-list {
  list-style-type: none;
}

.recent-transactions-list {
  max-height: 300px;
  overflow-y: scroll;
  padding-right: 20px;
}
.recent-transactions-list .transaction-container {
  text-decoration: none;
  background: #F8FAFC;
  padding: 15px;
  margin-bottom: 18px;
  border-radius: 7px;
  color: #334155;
}
.recent-transactions-list .transaction-container .transaction-category-note-container .transaction-icon-container {
  margin-right: 14px;
}
.recent-transactions-list .transaction-container .transaction-date {
  margin-right: 22px;
}
.recent-transactions-list .transaction-container .transaction-amount {
  font-size: 18px;
  font-weight: 600;
  width: 81px;
  height: 31px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recent-transactions-list .transaction-container .transaction-amount-income {
  background: rgba(14, 165, 233, 0.15);
  color: #0EA5E9;
}
.recent-transactions-list .transaction-container .transaction-amount-expense {
  background: rgba(239, 42, 76, 0.15);
  color: #EF2A4C;
}
