.page-header {
    height: max-content;
    padding: 26px;
    background: #F7F4F3;
    box-shadow: 0px 1px 8px rgba(34, 40, 49, 0.05);
    
    .page-header-title {
        font-size: 22px;
        color: #374151;
    }
}