.sidebar-nav {
    display: inline-block;
    padding: 25px 10px 0 15px;
    width: 16%;
    height: 100vh;
    background: linear-gradient(180deg, #30475E 0%, #222831 100%);
    
    .logo {
        width: 232px;
        height: 40px;
    }
    
    .nav-links-container {
        padding-left: 9px;
        list-style: none;

        .nav-link-item {
            margin: 30px 0;
        }
        
        .nav-link {
            font-size: 22px;
            color: #D4D4D8;
            text-decoration: none;
            text-transform: capitalize;
        }
    }
}