.recent-transactions-list {
    max-height: 300px;
    overflow-y: scroll;
    padding-right: 20px;
    
    .transaction-container {
        text-decoration: none;
        background: #F8FAFC;
        padding: 15px;
        margin-bottom: 18px;
        border-radius: 7px;
        color: #334155;

        .transaction-category-note-container {

            .transaction-icon-container {
                margin-right: 14px;
            }
        }

        .transaction-date {
            margin-right: 22px
        }

        .transaction-amount {
            font-size: 18px;
            font-weight: 600;
            width: 81px;
            height: 31px;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        
        .transaction-amount-income {
            background: rgba(14, 165, 233, 0.15);
            color: #0EA5E9;
        }

        .transaction-amount-expense {
            background: rgba(239, 42, 76, 0.15);        
            color: #EF2A4C;
        }
        
    }
}
