* {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #EEEEEE;
}

.block {
  display: block;
}

.capitalize {
  text-transform: capitalize;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}